.drop-down {
    position: absolute;
    left: 0;
    padding-top: 54px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;

    &__inner {
        position: relative;
        border-radius: 20px;
        background: var(--dropdown-bg);
        box-shadow: 12px 19px 15px -3px var(--dropdown-shadow);
        padding: 30px;
    }
}
