.drop-down {
    position: absolute;
    left: 0;
    padding-top: 54px;
    visibility: 1;
    // opacity: 0;
    // transition: visibility 0.2s, opacity 0.2s;
    width: min(1240px, 100%);

    &__inner {
        position: relative;
        border-radius: 20px;
        background: var(--dropdown-bg);
        box-shadow: 0px 5px 15px 15px var(--dropdown-shadow);
        padding: 30px;
        max-height: min(582px, calc(100vh - 158px));
    }
}

.top-menu {
    height: 100%;

    &__main {
        height: 100%;
        width: 292px;
        border-right: 1px solid var(--top-menu-border-color);
    }
}

.menu-column {
    display: flex;
    gap: 20px;

    &__icon {
        flex-shrink: 0;
        width: 36px;
        height: 36px;
        object-fit: cover;
        position: relative;
    }

    &__content {
        flex: 1;
    }

    &__icon-1 {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }

    &__icon-2 {
        width: 24px;
        height: 24px;
        object-fit: cover;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &__heading {
        color: var(--menu-column-text-color);
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5; /* 150% */
        margin-top: 4px;
    }

    &__list {
        margin-top: 19px;
    }

    &__link {
        color: var(--menu-column-text-color);
        font-size: 1.4rem;
        line-height: 1.42; /* 142.857% */
        display: block;
        padding: 7px 0;

        &:hover {
            color: #0071dc;
            font-weight: 500;
        }
    }
}
