@use "../abstracts";

.logo {
    display: flex;
    align-items: center;
    gap: 14px;

    @include abstracts.breakpoint(lg) {
        gap: 10px;
        margin-left: 39px;
    }

    @include abstracts.breakpoint(md) {
        margin-left: 0;
    }

    &__img {
        @include abstracts.breakpoint(lg) {
            width: 24px;
        }
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.45; /* 145.455% */
    }
}
