*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Gordita", sans-serif;
    color: var(--text-color);
    background: var(--body-color);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
}

.icon {
    filter: var(--icon-color);
}

button,
input,
textarea,
select {
    font-family: inherit;
    color: inherit;
}
