@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.header {
    background: var(--header-bg);
}

.top-bar {
    @extend %flexItemCenter;
    padding: 30px 0;

    @include abstracts.breakpoint(lg) {
        padding: 20px 0;
    }

    @include abstracts.breakpoint(md) {
        padding: 16px 0;
    }

    &__more {
        display: none;

        @include abstracts.breakpoint(lg) {
            display: block;
        }
    }
}

.navbar {
    margin-left: 144px;

    @include abstracts.breakpoint(xl) {
        margin-left: 50px;
    }

    @include abstracts.breakpoint(lg) {
        display: none;
    }

    &__list {
        @extend %flexItemCenter;
        gap: 30px;
    }

    &__link {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46; /* 146.667% */
        @extend %flexItemCenter;
        gap: 6px;
    }
}

.top-act {
    @extend %flexItemCenter;
    gap: 20px;
    margin-left: auto;

    &__group {
        @extend %flexItemCenter;
        border-radius: 8px;
        background: var(--top-act-group-bg);
        box-shadow: 0 20px 60px 10px var(--top-act-group-shadow);
        min-width: 50px;
        height: 50px;

        @include abstracts.breakpoint(md) {
            display: none;
        }
    }

    &__btn {
        padding: 13px 20px;
        @extend %flexItemCenter;
        gap: 10px;
        cursor: pointer;
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46; /* 146.667% */
    }

    &__sepharate {
        width: 1px;
        height: 30px;
        background: var(--sepharate-color);
    }

    &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        box-shadow: 0 4px 14px 2px rgba(0, 0, 0, 0.08);
        display: block;
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__group--single {
        @include abstracts.breakpoint(lg) {
            display: none;
        }
    }
}
