.header {
    background: #eeeeee;
}

.top-bar {
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.navbar {
    margin-left: 144px;
    margin-right: auto;

    &__list {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__link {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46; /* 146.667% */
        display: flex;
        align-items: center;
        gap: 6px;
    }
}

.top-act {
    display: flex;
    align-items: center;
    gap: 20px;

    &__group {
        display: flex;
        align-items: center;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 20px 60px 10px rgba(237, 237, 246, 0.2);
        min-width: 50px;
        height: 50px;
    }

    &__btn {
        padding: 13px 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        &--single {
            padding: 13px;
        }
    }

    &__title {
        color: #1a162e;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46; /* 146.667% */
    }

    &__sepharate {
        width: 1px;
        height: 30px;
        background: #ededf6;
    }

    &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        box-shadow: 0 4px 14px 2px rgba(0, 0, 0, 0.08);
        display: block;
    }
}
