@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(29%)
        saturate(1284%) hue-rotate(210deg) brightness(90%) contrast(96%);
    --header-bg: #eeeeee;
    --top-act-group-bg: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --sepharate-color: #ededf6;
    --body-color: #f6f6f6;

    @include abstracts.breakpoint(lg) {
        --header-bg: #fff;
    }

    // Dropdown
    --dropdown-bg: #fff;
    --dropdown-shadow: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;
}
